﻿
<table width="600" bgcolor="#fff" border="0" cellspacing="0" cellpadding="0"
       style="
padding:0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 1.5;
color:#202020;
border: 1px solid #d3d3d3;
background-color: #fff;
max-width: 100%;
width: 600px;
margin: 0 auto;
">
    <tr role="header" style="background-color: #f5f5f5;padding: 0;height: 48px;">
        <td colspan="2" style="padding-left: 50px;"><img src="https://gamecontroller.s3.amazonaws.com/assets/bdx-logo.png" style="width: 46px;height:auto;"></td>
    </tr>
    <tr>
        <td colspan="2" background="https://gamecontroller.s3.amazonaws.com/assets/bdx-bg.jpg" style="background: #444 url(https://gamecontroller.s3.amazonaws.com/assets/bdx-bg.jpg) no-repeat; background-position:center;background-size: cover;height: 200px;text-align: center;">

            <h2 style="margin: 0 auto;padding:0;font-size:19px;color:#fff;text-align: center;font-weight: normal;max-width: 220px;background: transparent;">GREETINGS FROM THE BDX MEDIA TEAM</h2>
        </td>
    </tr>
    <tr role="divider">
        <td colspan="2" style="height:25px;"></td>
    </tr>
    <tr>
        <td colspan="1" width="230" style="padding: 0px 20px 0px 50px;width: 230px;"><img src="https://gamecontroller.s3.amazonaws.com/assets/bdx-house.jpg" width="228" height="139"></td>
        <td colspan="1">
            <p style="max-width: 270px;font-size:13px;margin: 0 0 15px;">
                Congratulation! You are successfully registerd with us.Now you can access the {game} game from your ipad.
            </p>            
        </td>
    </tr>
    <tr role="divider">
        <td colspan="2" style="height:10px;"></td>
    </tr>
    <tr>
        <td colspan="2">
            <p style="padding: 15px 80px;text-align: center;margin: 0;">
                Once your account is set up, you will be able to use the iPad ap <strong>BDX Smart Controller</strong> to log in and gain access to all of the tours available to you. We’ve already added the {game} to your list so you’ll see it when you log in.<br><br>
                For help setting up your <strong>Real Time Tour</strong> and syncing with your iPad using the <strong>BDX Smart Controller</strong> app, refer to our step by step instructions
            </p>
        </td>
    </tr>
    <tr role="footer">
        <td colspan="2" style="border: 1px solid #d3d3d3;border-right:none;border-left:none;padding-top:20px;padding-bottom: 15px;text-align: center;">
            <p style="margin: 0 0 10px;font-size: 14px;font-weight: bold;">Thank you for choosing BDX!</p>
            <p style="margin: 0 0 10px;font-size: 12px;font-weight: bold;">If you have received this email in error or have any questions , please contact us <a href="mailto:MFatehi@thebdx.com" style="color: #0073f5;text-decoration: none;">here</a></p>
        </td>
    </tr>
</table>